@define-color background  #282828;
@define-color foreground  #ebdbb2;
@define-color foreground1  #928374;
@define-color orange  #fe8019;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Keyframes for main bar criticals */
@keyframes blink-critical-text {
  to {
    color: @foreground;
  }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @foreground;
  }
}

/* Main bar defaults */ /* {{{ */
#waybar.main {
  background: transparent;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 11pt;
  font-weight: 500;
}

#waybar.main button {
  font-family: JetBrains Mono Nerd Font;
  font-size: 11pt;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}

/* Main bar modules */ /* {{{ */
#waybar.main #battery,
#waybar.main #network,
#waybar.main #battery,
#waybar.main #backlight,
#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #memory,
#waybar.main #pulseaudio,
#waybar.main #temperature,
#waybar.main #tray,
#waybar.main #custom-fans {
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 4px;
  padding-top: 4px;
  background: transparent;
}

#waybar.main #tray {
  padding-right: 6pt;
}

/* Module colors */
#waybar.main #cpu,
#waybar.main #temperature,
#waybar.main #memory,
#waybar.main #disk,
#waybar.main #network {
  color: @foreground;
}

#waybar.main #backlight,
#waybar.main #pulseaudio {
  color: @foreground;
}

#waybar.main #custom-fans,
#waybar.main #battery {
  color: @foreground;
}

#waybar.main #clock {
  color: @foreground;
}

#waybar.main #network {
  padding-right: 5px;
  padding-left: 5px;
  color: @foreground;
  background: transparent;
}

#waybar.main #network.wifi.normal,
#waybar.main #network.ethernet {
  color: @foreground;
  padding-right: 10px;
}

#waybar.main #network.wifi {
  color: @foreground;
  padding-right: 10px;
} /* }}} */

/* Main bar criticals */
#waybar.main #custom-nvidia.critical,
#waybar.main #custom-battery.critical,
#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special.urgent,
#waybar.main #memory.swap.critical,
#waybar.main #memory.ram.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical,
#waybar.main #battery.critical.discharging {
  color: @foreground;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Main bar warnings */
#waybar.main #pulseaudio.muted {
  color: @foreground;
}

#waybar.main #battery.warning,
#waybar.main #battery.warning.discharging {
  color: @foreground;
}

/* Battery chargin */
#waybar.main #battery.charging {
  color: @foreground;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Workspace */
/* Default workspace settings */
#waybar.main #workspaces button {
  color: @foreground;
  background: transparent;
  border: 1.5px solid transparent;
  padding-left: 2pt;
  padding-right: 2pt;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.25s ease;
}

/* Focused workspace */
#waybar.main #workspaces button.visible {
  color: @foreground;
}

/* Focused workspace & monitor */
#waybar.main #workspaces button.active {
  color: @background;
  border: 1.5px solid @orange;
  border-radius: 5px;
  background: @foreground;
}

/* Style when cursor is on the button */
#waybar.main #workspaces button:hover {
  color: @background;
  background: @foreground;
}

/* Special workplace animation */
#waybar.main #workspaces button.special.active {
  border: 1.5px solid transparent;
  color: @foreground;
  transition: all 0s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Custom slashes as spacers */
#waybar.main #custom-spacer {
  font-size: 11pt;
  font-weight: bold;
  color: @foreground;
  background: transparent;
}

/* Custom tray icon */
#waybar.main #custom-notification {
  font-size: 11pt;
  font-weight: bold;
  color: @foreground;
  background: transparent;
  padding-right: 6pt;
  padding-left: 2pt;
}

#waybar.main #custom-spotify {
  font-size: 11pt;
  color: @foreground;
  background: #427b58;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 100px;
  padding-right: 12pt;
  padding-left: 10pt;
}

/* Tooltip */
tooltip {
  background: @background;
  border: 1.5px solid @foreground1;
  border-radius: 5px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font";
}

#waybar.main #tray menu {
  background: @background;
  border: 2px solid @foreground;
  border-radius: 0px;
  padding: 10px 5px;
}
