@import "colors/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 700;
  all: unset;

  --border-radius: 8px;
  --border-radius-s: 4px;
  --border-radius-xl: 18px;

  --shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------
 Control Center
--------------------------------------*/

.notification {
  padding: 5px;
}

.notification-background {
  background: @crust;
  border-radius: var(--border-radius);
  margin: 8px;
  padding: 0;
}

.notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background: transparent;
  color: @text;
}

.notification-background .close-button:hover {
  background: @surface0;
}

.notification.critical {
  background: linear-gradient(135deg, @red, @flamingo);
  /* border: 2px solid @red; */
  border-radius: var(--border-radius);
  color: @crust;
}

.notification.critical .notification-content {
  color: @crust;
}

.notification.critical .notification-content .time {
  color: @surface0;
}

.notification.critical .notification-content .summary {
  color: @crust;
}

.notification.critical .notification-content .body {
  color: @base;
}

.notification-content {
  color: @text;
  margin: 10px;
  font-weight: 700;
}

.notification-content .text-box {
  margin: 0 0 0 15px;
}

.notification-content .time {
  padding: 2px;
  font-size: 0.95rem;
  font-weight: 800;
  color: @subtext0;
}

.notification-content .summary {
  font-size: 1rem;
  font-weight: 800;
  padding: 2px 0;
  margin-bottom: 2px;
  color: @text;
}

.notification-content .body {
  color: @subtext1;
  font-size: 0.8rem;
}

.notification-row .inline-reply-entry,
.notification-row .inline-reply-button {
  margin: 5px -5px -5px -5px;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  background: @base;
  color: @text;
}

.notification-row .inline-reply-entry {
  margin-right: 10px;
}

.notification-row .inline-reply-button:hover {
  background: @blue;
  color: @base;
}

.notification-alt-actions {
  padding: 5px 0;
}

.notification-action {
  font-weight: 700;
  border-radius: var(--border-radius);
  background: @base;
  color: @text;
  margin: 0 5px;
  padding: 10px 0;
}

.notification-action:hover,
.notification-action:active {
  background: @blue;
  color: @base;
}

.control-center {
  background: alpha(@mantle, 0.9);
  border-radius: var(--border-radius);
  margin: 5px;
  padding: 5px 5px 0 5px;
}

.control-center .notification-background {
  background: @crust;
  /* background: @rosewater; */
  box-shadow: var(--shadow);
}

.control-center .notification-background .close-button,
.notification-group-close-button {
  opacity: 0;
}

.notification-group {
  transition: 200ms;
}

.notification-group:not(.collapsed) {
  margin: 8px;
}

.notification-group-headers,
.notification-group-buttons {
  color: @text;
  font-weight: bold;
  background: @surface0;
  border-radius: var(--border-radius);
  padding: 4px 8px;
}

.notification-group-headers > label {
  margin: 0 3px;
  font-size: 1rem;
}

.notification-group-icon {
  color: @lavender;
}

.notification-group-buttons .image-button {
  background: transparent;
  color: @text;
  padding: 4px;
  border-radius: var(--border-radius);
}

.notification-group-buttons .image-button:hover {
  background: @surface1;
}

/*--------------------------------------
 Widgets
--------------------------------------*/

.widget {
  margin: 5px;
  color: @text;
}

/* MPRIS */

.widget-mpris-album-art {
  border-radius: var(--border-radius);
  margin: 6px 4px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 3px;
  color: @text;
}

.widget-mpris-subtitle {
  color: @subtext1;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0 3px;
}

.mpris-background {
  border-radius: 7px;
  margin: 3px;
}

.widget-mpris {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.mpris-overlay {
  border-radius: var(--border-radius);
  padding: 10px;
  background: alpha(@mantle, 0.8);
}

.mpris-overlay > box:last-child {
  border-radius: var(--border-radius-xl);
  padding: 3px;
  background: alpha(@base, 0.8);
}

.widget-mpris-player button {
  padding: 4px 8px;
  color: @text;
}

.widget-mpris-player button:hover {
  border-radius: var(--border-radius-xl);
  background: @surface1;
}

/* Do not disturb */

.widget-dnd {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  /* background: alpha(@crust, 0.4); */
  /* background: @crust; */
  /* box-shadow: var(--shadow); */
  color: @text;
}

.widget-dnd > label {
  font-size: 1rem;
  font-weight: 700;
}

.widget-dnd switch {
  background: @surface1;
  border-radius: var(--border-radius-xl);
  box-shadow: none;
  padding: 2px;
  transition: 200ms;
}

.widget-dnd switch slider {
  background: @text;
  border-radius: var(--border-radius-xl);
}

.widget-dnd switch:hover {
  background-color: @overlay2;
}
.widget-dnd switch:checked {
  background-color: alpha(@blue, 0.7);
}

.widget-notifications {
  margin: 0;
}

/* Buttons */

.widget-buttons-grid {
  padding: 5px 0;
  margin-bottom: 5px;
}

.widget-buttons-grid button {
  padding: 10px;
  margin: 3px;
  min-width: 83px;
  background: @surface0;
  border-radius: var(--border-radius);
  transition: 200ms;
}

.widget-buttons-grid button > label {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  color: @text;
}

.widget-buttons-grid button:hover {
  background: @blue;
}

.widget-buttons-grid button:hover > label {
  color: @crust;
}

.widget-buttons-grid button:checked {
  background-color: @lavender;
}

.widget-buttons-grid button:checked > label {
  color: @base;
}

/* Sliders */

.widget-volume,
.widget-backlight {
  padding: 8px 20px;
  margin: 5px 0;
  color: @text;
}

.widget-volume {
  margin-left: 3px;
}

.widget-volume label,
.widget-backlight label {
  font-size: 1.1rem;
}

.widget-volume slider,
.widget-backlight slider {
  border-radius: 24px;
  margin: -8px;
  background: @text;
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.widget-volume trough,
.widget-backlight trough {
  background: @surface1;
  margin-left: 8px;
  border-radius: 12px;
}

.widget-volume highlight,
.widget-backlight highlight {
  padding: 3.5px;
  border-radius: 12px;
  background: linear-gradient(135deg, @peach, @mauve);
}

.control-center-list-placeholder {
  color: @overlay1;
}

.blank-window {
  background: transparent;
}
