/* Gruvbox Theme Notification Styles */

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
  transition: 0.3s;
  font-size: 1rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: #282828;
  color: #ebdbb2;
  border: 1px solid #504945;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #fb4934;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #ebdbb2;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #a89984;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #ebdbb2;
  background-color: #3c3836;
  border: 1px solid #504945;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #504945;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #665c54;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #282828;
  background-color: #fb4934;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #ebdbb2;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #cc241d;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #282828;
  color: #ebdbb2;
  padding: 1rem;
  border: 1px solid #504945;
}

.control-center .widget-title {
  color: #d79921;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #ebdbb2;
  background-color: #3c3836;
  border: 1px solid #504945;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #504945;
}

.control-center .widget-title button:active {
  background-color: #665c54;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #3c3836;
  color: #ebdbb2;
  border: 1px solid #504945;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #fb4934;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #ebdbb2;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #ebdbb2;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #a89984;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #ebdbb2;
  background-color: #3c3836;
  border: 1px solid #504945;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #504945;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #665c54;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #282828;
  background-color: #fb4934;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #ebdbb2;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #cc241d;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #fb4934;
}

.notification.low progress,
.notification.normal progress {
  background-color: #83a598;
}

trough {
  background-color: #3c3836;
}

.control-center trough {
  background-color: #504945;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #504945;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #a89984;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #504945;
  border: 1px solid #504945;
}

.widget-dnd > switch:checked slider {
  background: #458588;
}

.widget-dnd > switch slider {
  background: #665c54;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
